.list-group-item {
  cursor: pointer;
}
.list-group-item:hover {
  color: black;
}
.activeLink {
  background-color: #92b3e5;
  color: rgb(255, 255, 255);
}
.recipe-item__img {
  padding-bottom: 20px;
}
