<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle .d-none d-md-block d-lg-none"
        (click)="collapsed = !collapsed"
      >
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </button>
      <a routerLink="/" class="navbar-brand">Recipe Book</a>
    </div>
    <div
      class="navbar-collapse"
      [class.collapse]="collapsed"
      (window:resize)="collapsed = true"
    >
      <div class="collapse navbar-collapse d-flex justify-content-between">
        <ul class="nav navbar-nav">
          <li class="mx-2"><a href="#">Recipes</a></li>
          <li class="mx-2"><a href="#">Shopping List</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" role="button"
              >Manage <span class="caret"></span
            ></a>
            <ul class="dropdown-menu">
              <li><a href="#">Save Data</a></li>
              <li><a href="#">Fetch Data</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
