.navbar-header {
  text-align: center;
  vertical-align: middle;
  display: flex;
}
.navbar-toggle {
  border: none;
  background-color: transparent;
}
.bar {
  display: block;
  margin: 3px auto;
  height: 4px;
  width: 20px;
  background-color: #7f7b7b;
}
.navbar-brand {
  text-align: center;
  margin-bottom: 1px;
}
.dropdown {
  margin-right: 20px;
}
